---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "1";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>あああああ</h1>
  <h3>iuuuou</h3>
  <h1>あああああ</h1>
  <h2>あああああ</h2>
</BaseLayout>
