---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "1";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>あああああ</h1>
  <h2>uuuuu</h2>
  <h3>っっっっっp</h3>
  <h4>っっっっm</h4>
  <h1>あああああ</h1>
  <h2>eeeee</h2>
  <h3>iuuuou</h3>
</BaseLayout>
