---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "1";
---

<BaseLayout pageTitle={pageTitle}>
  <h3>iuuuou</h3>
  <h3>iuuuou</h3>
  <h3>iuuuou</h3>
  <h3>iuuuou</h3>
</BaseLayout>
